

 
@media (max-width:478px) {
body {
    background: #F9F7F7;
    border:px solid red;
       
      
 }



.home-page-cont {
   border: 1px solid white; 
   background: white;
   margin: 7px 0;


 }

.profile-dropdown {
  
  cursor: pointer;
}
.mobile-navbar-top {
/*  display: block;*/
  background:#A33F0B; /*#C70039;*/
  border-bottom:1px solid #D5D7D5;
  width: 100%;



}


.mobile-navbar-center {
   /*background: white;*/
    display: flex;
    width: 100%;
    max-height: 40px;
    padding:0px;


}

.mobile-navbar-bottom {
  display: flex;
  background: white;
  border:px solid red;
  height: 50px;
  width: 100%;

}


.navigation-menu {
  border:px solid red;
  display: flex;
  width: 100%;

}
.create-post-box {
  display: flex;
  padding-right: 20px;
  border: px solid black;
  margin-left:64%; 
}

.create-post-box p {
  margin:0px 10px; 
}
.create-question-box {
  width: 100%;
}
.create-question, .create-post {
  border: 1px solid red;
  background:#A33F0B;
  color: #fefefe; 
  height:30px;
  width:40px;
  float: right;
  }

.create-post {
  float: right;
  
}

.logo {

       font-family: 'Signika';
       font-size: 22px;
       color: white;
       padding: 10px;

      
}

.navigation-item {
     font-family: 'Jura';
     font-size: 10px;
     margin: 1px;
     color:   #615f5e; 

}
.navigation-item:hover  {
       
  color:#A33F0B; 
  text-decoration: none;
  
}
.navbar-dropdown {
  padding-right: 17px;
  

}
.img-container-sm {
    border: 1px solid #D5D7D5;/*#F9F7F7;*/
    border-radius: 50px;
    width: 30px;
    
    
    
}

.profile-photo {
    /*border: 1px solid black; /*#F9F7F7;*/
    border-radius: 100%;
    max-width: 100%;
    height:100%;
    object-fit: cover;
    
}




.home-icon,.notif-icon{
  font-size:23px !important;
  font-weight: 100;
  color: grey;
  margin-left: 20px;
  
  }  

.img-container-sm {
    border: 1px solid  #D5D7D5;/*#F9F7F7;*/
    display: inline-block;
    border-radius: 50px;
    width: 30px;
    height:30px;
    margin: auto;
    margin-left:0px;
}


.profile-photo {
    /*border: 1px solid black; /*#F9F7F7;*/
    border-radius: 100%;
    width: 100%;
    height:100%;
    object-fit: cover;
    
}
.profile-user-name {
  border:px solid red;
  position: relative;
  display:inline-block;
  font-family: 'Jura';

  left:5px;
  font-size: 10px;
}


}







@media (min-width:980px) {
body {
       
       background: #F9F7F7;
       border:px solid red;
       
      
 }


.home-page-cont {
   border:1px solid #D5D7D5;
   background: white;
   width:  600px;
   margin: auto;


 }

.profile-dropdown {
  margin-left:200px;
  margin-top: 10px;
  cursor: pointer;
}

.navigation {
  background: white;
  display: flex;
  padding: 3px 0; 
  border:1px solid  #D5D7D5;
  


}


.btn-box {
  border:px solid blue;
    margin-left:  4%;
    
}

.navigation-menu {
  border:px solid black;
  display: flex;
}

.navigation-boX {
  border:px solid black;
  width: 84%;
  margin:0 8%;
  

}

.img-boX {
  border: pX solid  red !important;
  margin: 0 0 0 13%  !important;
}


.create-question, .create-post {
  height:30px;
  background:#A33F0B;
  color: white;  
}

.logo {
       color: #A33F0B;
       font-family: 'Signika';
       font-size: 22px;
       font-weight: bold;
    
}
.logo:hover {
  color:  #A33F0B;
  text-decoration: none;

}

.profile-photo:hover {
  cursor: pointer !important; 
}


.iterm-box {
  border:px solid black !important;
  background: white;
  width: 47%;
  padding: 5px 0 0;
}

.navigation-item {
     font-family: 'Jura';
     font-size: 12px;
      margin: 0 3%;
     font-weight: bold;
     border-radius: 0 !important;
     border: none;
     color:   #615f5e; 
     background: white;

}
.navigation-item:hover  {
    color:#A33F0B; 
  text-decoration: none;
  border-bottom: 2px solid #A33F0B !important;
}

.active {
  border-bottom: 3px solid #A33F0B;
  color:  #A33F0B;  

}

.notif-icon {
       
}
.notifs {


}


.img-container-sm {
    border: 1px solid  #D5D7D5;/*#F9F7F7;*/
    display: inline-block;
    border-radius: 50px;
    width: 30px;
    height:30px;
    margin: auto;
    margin-left:0px;
}


.profile-photo {
    /*border: 1px solid black; /*#F9F7F7;*/
    border-radius: 100%;
    width: 100%;
    height:100%;
    object-fit: cover;
    
}
.profile-user-name {
  border:px solid red;
  position: relative;
  display:inline-block;
  font-family: 'Jura';

  left:5px;
  font-size: 10px;
}


}



