
.follow-btn-box button {
    font-size        : 15px;
    font-family      : 'Teko';
    border-radius    : 14px;
    text-align       : center;
    text-decoration  : none;
    display          : inline-block;
    padding          : 3px 6px; 
}


.follow-btn-box button:focus, .follow-btn-box button:active { 
    border : 1px solid #B7D5F0 !important;
}

.user-list-follow-btn-box button  {
        float     : right;
}


.index-user-list-title-box {
    border      : px solid red;
    margin-left : 12px;
}


.index-user-list-title-box li {
    font-size:  12px;
}


.index-user-list-container {
    border      : px solid blue;
    display     : flex; 
    overflow-x  : scroll;
    overflow-y  : hidden;
    margin      : 0px 10px;
}

.index-user-list {
    background : #ffff;
    border     : 1px solid #D5D7D5;
    margin     : 10px 0;
}

.index-user-list-box {
    border-radius : 10px; 
    border        : 1px solid  #D5D7D5;
    margin        : 5px 8px; 
    max-width     : 150px;
}


.index-user-list-contents {
   border : px solid black;
}


.index-user-credentials-box {
    border        : px solid red;
    font-family   : 'Cambay';
    text-align    : center;
    font-size     : 13px;
    min-height    : 70px; 
    padding       : 0 6px;
}

.index-user-list-img-container {
    border  : px solid  red;
    display : flex;
    width   : 100%;

}

.index-user-img-box {
    border  : px solid black;
    padding : 5px 13px 8px 35px;
}

.index-user-list-img-box {
    border-radius : 50%;
    border        : 1px solid  #D5D7D5;
    width         : 70px;
    height        : 70px;
   
}


.index-user-list-img {
    width         : 70px;
    height        : 70px;
    border-radius : 50%;
 }

.index-user-name-box {
    border: px solid blue;
    margin: 4px 0;
    text-align: center;

}


.index-user-name {
    border      :  px solid red;
    font-size   : 13px;
    font-family : 'Ubuntu';
    font-weight : bold;
}


.hid-user-btn-box {
    border  : px solid red;
    padding :  5px 3px;
}

.hid-user-btn {
    border : px solid red; 
    color  :  gray;

}

.hid-user-icon {
    border      : px solid blue;
    font-size   : 20px;
    font-weight :  bold;
}

.index-user-follow-btn-box {
    border     : px solid blue;
    text-align : center;
    padding    :  10px 0;
}


@media (max-width: 980px) {
 
}











@media (min-width: 980px) {
  

    
}



