

.submit-profile-btn {
    background    :  #A33F0B;
    color         :  #fff;
    border-radius :  50px;
    font-size     : 10px; 
    font-weight   : bold;
    font-family : 'Open Sans';
}

.submit-profile-btn-box {
    border     : px solid red; 
    padding    : 8px 14px; 
}

.edit-img-btn {
  font-size   : 14px;
  font-weight : bold;
  font-family : 'Open Sans';
  color       : gray;
         
}

.change-img-btn-box {
    text-align: center;
}



.edit-img-btn:hover {
    color  : #D5D7D5;
            
}


.image-drop-dismiss-btn {
    font-size  : 23px; 
    background : #EEF2F1; 
    color      : red;
    font-weight: bold;
    
}

.add-image-btn-box {
    width   : 26%;
    border  : px solid red; 
}

.image-add-btn{
  border: 1px solid #D5D7D5;
  background: #CBCBCB;
  border-radius: 4px !important; 
  margin:  8px 10px 0;
}


.drop-image-spin-loader {
    justify-content : center;
    display         : flex;   
    width           : 100%;
    padding-top     : 10px;
    border          : px solid red;   
}

.drop-image-error {
    font-size   : 12px;
    font-family : 'Open Sans';
    color       : red;

}

.dismiss-box{
    padding: 0 10px;
}

.cancel-image-btn-box {
    border     : px solid red;
    text-align : center;
    padding    : 10px 0;
    color      : #5384e5;

}

.image-cancel-btn {
   color : #5384e5;
}

.edit-profile-image-box, .image-preview-contents {
    justify-content : center;
    display         : flex;
}

.input-box input {
   font-size: 13px;
}


@media (max-width: 980px) {
/*
@font-face {
  font-weight: 400;
  font-style: normal;
  display: none;
  font-display:  block ;
  color: #A33F0B;
  font-family: 'Arvo';
  font-display:  fallback;
  src: local('Arvo'), url(https://fonts.gstatic.com/s/arvo/v9/rC7kKhY-eUDY-ucISTIf5PesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
}*/

.edit-profile-container {
  background: white;
  padding-top: 50px;
}

.item-title {
    font-size   : 14px;
    font-weight : bold; 
 }

.item-title-box {
    border: px solid red;
}

.arrow {
    color: #A33F0B;
    font-size: 17pX;
    font-weight: bold;
    margin: 0 !important;
    border: px solid #D5D7D5;/*#F9F7F7;*/
}


.edit-img-container, .profile-name-edit-box,
.user-phonenumber-box, .user-locacion-box,
.user-credential-box, .user-favorite-quote-box,
.image-preview-container  {
  border-bottom : 1px solid #F7F7F7;
  margin        : 5px;
  padding       : 10px;
}


.edit-image-container {
   border  : px solid  red;
   width   : 100%;
}

 

.image-preview-box, .edit-image-btn-box {
    border        : 1px solid #D5D7D5;
    width         : 90px;
    height        : 90px;
    border-radius : 50%;
   
}

.edit-image,.image-preview{
  width         : 90px;
  height        : 90px;
  max-width     : 100%;
  object-fit    : cover;
  border-radius : 50%;
  
}


.navbar-title-box {
  border: px solid red;
  width: 100%;
}

.navbar-title {
  border: px solid blue;
  margin-right: 0px ;
  color: black;
  font-size: 14px;
  float: right;
  margin: 8px 0 0 47%;
    display: block !important;
}


.upload-preview {
  border: 1px dashed  #A9A6A6;
  background: #EEF2F1;
}


.drop-image-btns {
   border: px solid red;
   display: flex;
   padding: 6px  0;
}

.image-drop-dismiss{
   background:#EEF2F1; 
}



.image-drop-dismiss-btn {
    color      : red; 
    background : #EEF2F1; 
    border     : px solid red;
}

.image-drop-dismiss-icon {
    font-size  : 18px;
}


.edit-name-box {
  border: px solid green;
}

.fileBox {
   background: #EEF2F1 !important;
   border: px solid red;
   height: 140px !important;
   text-align: center;
   padding: 40px 0 0
}

.image-form, .image-preview-container {
  border: 1px dashed  #A9A6A6;
  background: #EEF2F1;
  
}

.profile-name-input-box {
  border: 1px solid #D5D7D5;
  display: flex;
  

}

.favorite_quote {
  width: 100%;
  border: none !important;
}


.favorite_quote:focus, .favorite_quote:active {
  outline: 0 !important;
  box-shadow: 0 !important;
  border: none !important;
}

.input-box {
  border: 1px solid #D5D7D5;
  width: 100%;
}


.profile-name-input-box input {
  border: none;
  display: flex;
  font-size: 13px;
  width: 40%;  
}
}










@media (min-width: 980px) {
/*
@font-face {
  font-weight: 400;
  font-style: normal;
  display: none;
  font-display:  block ;
  color: #A33F0B;
  font-family: 'Arvo';
  font-display:  fallback;
  src: local('Arvo'), url(https://fonts.gstatic.com/s/arvo/v9/rC7kKhY-eUDY-ucISTIf5PesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
}*/

.edit-profile-container {
  background: white;
  padding-top: 50px;
}



.item-title {
    font-size   : 14px;
    font-weight : bold; 
 }

.item-title-box {
    border: px solid red;
}

.arrow {
    color: #A33F0B;
    font-size: 17pX;
    font-weight: bold;
    margin: 0 !important;
    border: px solid #D5D7D5;/*#F9F7F7;*/
}


.page-name-box {
   width: 100%;
   padding: 8px 0 10px 20px;
   border: px solid red;
}


.edit-img-container, .edit-name-box,.profile-name-edit-box,
.user-phonenumber-box, .user-locacion-box,
.user-credential-box, .user-favorite-quote-box {
  border-bottom:   1px solid #F7F7F7;
  margin: 5px;
  padding: 10px;
  border: px solid red;
}


.edit-image-container {
   border  : px solid  red;
   width   : 100%;
}

 
.edit-image-btn-box,.avatar-image-box {
  border        : px solid   #D5D7D5;/*#F9F7F7;*/
  width         : 30%;
  height        : 90px;
  border-radius : 50%;
  
}

.image-preview-box {
    border        : 1px solid #D5D7D5;
    width         : 140px;
    height        : 140px;
    border-radius : 50%;
}

.edit-image,.image-preview, .avatar-image {
  border        : 1px solid #D5D7D5;
  width         : 140px;
  height        : 140px;
  max-width     : 100%;
  object-fit    : cover;
  border-radius : 50%;
  
}



.navbar-title-box {
  border: px solid red;
  width: 100%;
}

.navbar-title {
  border: px solid blue;
  margin-right: 0px ;
  color: black;
  font-size: 14px;
  float: right;
  margin: 8px 0 0 47%;
  
  display: block !important;
}


.item-title-box {
  
  width: 100%;
  margin: 10px 0;
}



.edit-name-box {
  border: px solid green;
}


.upload-preview {
  border: 1px dashed  #A9A6A6;
  background: #EEF2F1;
}


 
.drop-image-btns {
   border: px solid red;
   display: flex;
   padding: 6px  0;
}



.fileBox {
   background: #EEF2F1 !important;
   border: px solid red;
   height: 140px !important;
   text-align: center;
   padding: 40px 0 0
}

.image-form, .image-preview-container {
  border: 1px dashed  #A9A6A6;
  background: #EEF2F1;
  min-height: 140px;
}

.profile-name-input-box {
  border: 1px solid #D5D7D5;
  display: flex;
  

}

.favorite_quote {
  width: 100%;
  border: none !important;
}


.favorite_quote:focus, .favorite_quote:active {
  outline: 0 !important;
  box-shadow: 0 !important;
  border: none !important;
}

.input-box {
  border: 1px solid #D5D7D5;
  width: 100%;
}


.input-box input {
  border: none !important; 
}

.profile-name-input-box input {
  border: none;
  display: flex;
  font-size: 13px;
  width: 40%;  
}


.name{
  
 }

}















