
.menu-img-container {
    border-bottom : 1px solid #D5D7D5;
    padding : 0 0 20px ; 

}

.menu-img-box {
    border-radius : 50%;
    border        : 1px solid #D5D7D5;
    width         : 35px;
    height        : 35px; 
    margin-left   : 18px; 
}

.menu-img {
    border-radius : 50%;
    width         : 35px;
    height        : 35px; 
}

.menu-username {
    font-weight : bold;
    font-family : 'Ubuntu';
    font-size   : 12px; 
    margin-left : 18px; 
    margin-top  : 8px;
}

.menu-user-credential{
    border       : px solid blue;
    font-family  : 'Cambay';
    font-size    : 12px; 
    margin-left  : 18px; 

}

.logout-btn, .dropdown-item {
    border       : px solid blue;
    width        : 100%; 
    text-align   : left !important;
    padding-left : 20px;
}
 
.menu-username-box:hover, .logout-btn:hover {
    cursor     : pointer;
    background :  #F7F7F7;
}

@media (max-width:900px) {


    
    .mobile-navbar-top {
        background:#A33F0B !important; /*#C70039;*/
        border-bottom:1px solid #D5D7D5;
        width: 100%;
    }



    .mobile-navbar-center, .partial-page-navbar, .partial-form-navbar {
        display    : flex;
        width      : 100%;
        border     : px solid blue;
    }


    .post-question-btn-box {
        display    : flex;
        border     : px solid black;
        position   : relative; 
                
    }

    .create-question-btn, .create-post-btn {
        background  : #A33F0B;
        color       : #fefefe;
        font-size   : 8px; 
        font-family : 'Oswald'; 
        max-width   : 100%;
        margin-top  : 10px; 
        
        
    }

    .create-post-btn {
        width       : 80px;
        
    }

    .create-question-btn {
        width       : 110px;
        
    };

    .post-question-btn-box p {
        margin  : 8px; 
    
    }

    .create-post-btn-box, .create-question-btn-box {
        border    : px solid blue;
    }

    .create-post-btn-box {
       
    }

    .create-question-btn-box {
       
    }

    .logo {
        font-family: 'Signika';
        font-size: 22px;
        color: white;
        padding: 10px;
    }


    .mobile-navbar-bottom {
        display: flex;
        background: white;
        border:px solid red;
        width: 100%;
    }


    .navigation-menu {
        border       : px solid black;
        display      : flex;
        width        : 100%;
        padding-left : 7px;
        max-width    : 100%;

    }

    .navigation-item {
        border          : px solid black;
        width           : 100%;
        max-width       : 100%;
        padding         : 7px 5px 0px;
        margin          : 10px 0 0;
    }

    .navigation-img-item{
        border   : px solid black;
        padding  : 10px  15px;  
    }

    .page-name-box {
        border  : px solid black;
        width   : 100%;
        padding : 10px 0 0 10px; 
    }

    .navigation-img-box, #nav-bar-modal-men {
        border  : px solid red;
    
    }

    .nav-bar-modal-menu-box {
        margin-top: 15px;

    }

    .nav-bar-menu-header {
        display       : flex;
        border-bottom : 1px solid  #D5D7D5; 
        background    :  #F7F7F7; 
    }
    
    .nav-bar-menu-title-box {
        width : 100%;
        border  : px solid blue;
    }

    .nav-bar-menu-title-box li {
        border       : px solid black;
        padding-left : 20px;
        padding-top  : 7px;

    }

    .nav-bar-menu-close-btn {
        float   : right;
        border  : px solid blue;
        margin  : 7px;

    }

    .dismiss-nav-bar-menu-icon {
        font-size : 15px;
        color     : gray;
        font-weight: bold;;
    }

    #navBardropdown, .nav-bar-img-box{
        border        : 1px solid #D5D7D5;
        border-radius : 50%;
        width         : 27px;
        height        : 27px; 
    }

    

    .nav-bar-img {
        border-radius : 50%;
        width         : 27px;
        height        : 27px;
        object-fit    : cover;
    }


   .items {
        font-family     : 'Jura';
        font-size       : 15px;
        color           : #615f5e; 
        border          : px solid red;
        text-align      : center;
    }

    .navigation-item:hover  {
        color           : #A33F0B; 
        text-decoration : none;
  
    }

    .navbar-dropdown {
        padding-right: 17px;
    }

}







@media (min-width:980px) {

    body {
        background: #F9F7F7;
        border:px solid red;
    }


   .home-page-cont {
       border:1px solid #D5D7D5;
       background: white;
       width:  600px;
       margin: auto;
    }

    .profile-dropdown {
        margin-left:200px;
        margin-top: 10px;
        cursor: pointer;
    }

    .navigation {
        background : white;
        display    : flex;
        padding    : 3px 0; 
        border     : 1px solid  #D5D7D5;
    }

    .btn-box {
        border:px solid blue;
        margin-left:  4%;
    }

    .navigation-menu {
        border:px solid blue;
        display: flex;

    }

    .navigation-box {
        border:px solid black;
        width: 84%;
        margin:0 8%;
    }


    .navigation-item {
        border          : px solid black !important;
        list-style-type : none;
        margin          : 0;
        padding         : 0;
        font-family     : 'Jura';
        font-weight     : bold;
        border-radius   : 0 !important;
        border          : none;
        color           : #615f5e; 
        background      : white;
        text-align      : center;
    }

    .nav-menu {
        border  : px solid red;
        display : flex;
        width   : 50%; 
    }

    .items {
        font-family     : 'Jura';
        font-size       : 15px;
        color           : #615f5e; 
        border          : px solid red;
        text-align      : center;
        margin          :  20px 10px 0; 
        float           : right;
    }


    .items:hover   {
        color:#A33F0B; 
        text-decoration: none;
    }

    .img-box {
        border: px solid  red !important;
        margin: 0 0 0 13%  !important;
    }

    .nav-bar-img {
        border-radius : 50%;
        width         : 30px;
        height        : 30px;
        object-fit    : cover;
    }

    .post-question-btn-box {
        border  :  px solid red;
        display :  flex;
        margin-left  : 45px;  
    }

    .create-post-btn-box, .create-question-btn-box {
        border        : px solid black;
        display:  flex;
    }

    .create-question-btn, .create-post-btn {
        background  : #A33F0B;
        color       : #fefefe;
        margin      : 7px 0;
        font-weight : bold;
        height      : 30px;
        margin      : 15px 7px 0;
               
        
    }

    .post-question-btn-box p {
        margin : 20px 20px 0;

    }

    .navigation-img-box{
        border          : px solid red;
        margin          : 10px 5px 0;
    }

    #navBardropdown{
        border  : px solid blue;
  
    }


    .navbar-dropdown {
        padding-right: 17px;
    }



    .logo-box{
        width   :  20%;
        border  : px solid blue;
    }


    .logo {
        color: #A33F0B;
        font-family: 'Signika';
        font-size: 25px;
        font-weight: bold;
        margin  : 10px 0 0 45px; 
       
    }

    .logo:hover {
        color:  #A33F0B;
        text-decoration: none;

    }

    .profile-photo:hover, #navBardropdown:hover {
        cursor: pointer !important; 
    }



    .active {
        border-bottom: 3px solid #A33F0B;
        color:  #A33F0B;  

    }


    .img-container-sm {
        border: 1px solid  #D5D7D5;/*#F9F7F7;*/
        display: inline-block;
        border-radius: 50px;
        width: 30px;
        height:30px;
        margin: auto;
        margin-left:0px;        
    }


    .profile-photo {
        border-radius  :  100%;
        width          : 100%;
        height         : 100%;
        object-fit     : cover;
    }

    .profile-user-name {
        border:px solid red;
        position: relative;
        display:inline-block;
        font-family: 'Jura';

        left:5px;
        font-size: 10px;
    }
}









