@media (max-width: 980px) {

	.admin-page {
    	border : 1px solid black;
      	padding-top: 60px;
	}
	.admin-container-box {
		border      : 1px solid blue;
	}

	.admin-contents {
		border : 1px solid red;	
	}

}



@media (min-width: 980px) {

	.admin-page {
    	border      : 1px solid black;
      	padding-top : 60px;
      	width       : 50%;
        margin      : 30px 25%;  
	}

	.admin-container-box {
		border : 1px solid blue;
	}

	.admin-contents {
		border : 1px solid red;	
	}

}

