
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,  shrink-to-fit=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,  shrink-to-fit=no"/>
    <meta name="theme-color" content="#A33F0B">
    <meta name="msappication-navbutton-color" content="#A33F0B">
    <meta name="apple-mobile-web-app-capable" content="#A33F0B">
    <meta name="apple-mobile-web-app-status-bar-style" content="#A33F0B">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="#A33F0B"/>
    <base href="/">
    <!--
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
   
      </head>
  <body>
    <div id="root">  </div>
       {% render_bundle 'main' %}
  </body>
</html>

