
@media (max-width:500px) {

html, body {
  border: px solid blue;
  width: 100%;
  
  overflow-x: hidden !important;
  overflow-y: scroll !important;
  flex-direction: column;
    
}
  

.navigation-bar {
  border-bottom: px solid red;
  display: flex;
  width: 100%;
  background:#A33F0B;
}


.navbar-box1, .navbar-box3 {
  width: 25%;
  border: px solid black;
}

.navbar-box2 {
   width: 50%;

}

.navbar-title-box {
   border:px solid red;
     
 }


.navbar-title-box p {
   color: white;
   border: px solid blue;
   padding: 10px 0 10px 16%;
   margin:  0; 
   font-size: 17px;

 }

.navbar-box3 {
   border: px solid black;
   padding: 10px 0 0 8%; 
}


.navbar-signup-link, .navbar-login-link{
   border: px solid red;
   font-size: 13px;
   color: #5384e5;
   font-weight: bold;
 }


.login-page{
  width: 100%; 
  min-height: 500px;
  background:#edf0f3;
  border: px solid black;

}

 



.registration-container {
  width      : 100%;
  height     : auto;
  background : #edf0f3;
  padding    : 7% 0px;
}

.email-form-box {
   margin-top: 10%;
}

.password-change-success,
.email-form, .success-message-box,.confirmation-message-box,
.password-change-form, .sign-up-form,.login-form {
  border:1px solid #BDBDBD;
  padding: 10px 4%;
  margin: 10px 4% 7%;
  
}

.password-change-success-box a,
.confirmation-message-box a {
  border:1px solid #BDBDBD; 
  margin: 0 30%;
  width: 30%; 
  color: #ffff;
  text-align: center;
  border: none;
  background: #A33F0B;
} 

.login-fields {
  border : px solid black;
  padding: 10px;
  margin: 4px;
    
}


select:focus {
  border: none;
  outline: 0 !important;
}


.name-field-box1, .name-field-box2 {
  border:px solid black;
  width: 47%;
}


 input  {
   width: 100%;
   box-shadow: none;
   padding: 5px;
}


input:focus {
  outline: 0!important;
}


.name-field-box2 {
  margin-left: 6%;
}

.username-fields {
  border: px solid red;
  width: 100%;
  display:  flex;
    
}


.change-password-box {
  border: px solid blue;
  margin: 8px;
    
}

.last-name-input {
   
 }

.first-name-input {
      
 }


.email-fields, .password-fields {
  margin: 10px 0px;
  
}


.btn-submit, .resend-email-btn {
  width: 50%;
  margin: 20px 24%;
  color: white;
  border: none;
  background: #A33F0B;

}

.confirmation-title,.password-reset-form-title,
.password-change-form-title,
.signup-form-title, .login-form-title {
   font-weight: bold;
   padding:0 37%;
   font-size: 11px;
   border: px solid red;
   display: flex;
    
}

.login-form-title, .signup-form-title {
   padding:0 42%;
    
}

.confirmation-title {
  padding :0 24%;
  border: px solid red;
}


.email-form-description,.password-form-description {
  font-size: 11px;
  list-style-type : none; 
}


  {
  font-weight: bold;
  font-size: 10px;
  margin: 0;
  padding:0 37%;
  border: 1px solid blue !important;
}



.message-success {
  background: #edf0f3;
  margin: 10px;
  font-size: 14px;
} 

.login-errors {
  color     : red;
  border    : px solid blue;
  font-size : 11px;
  margin    : 0 5%;  
 
}



.welcome-message{
   border    : px solid red;
   font-size : 18px;
   color: #545353;
}

.registration-welcome-box, .social-login {

   
}

.registration-welcome-box {
   margin: 20px 4%;
  
}





.social-login {
   margin: 0 4%;
  
}

.facebook-login-box {
  width: 100%;
}

.google-login-box {
  background   : #edf0f3 !important;
  width        : 100%;
  margin       : 14px 0;

  } 


.google-login, .facebook-login {
  text-align: left !important;
  height:  40px;
  width: 100%;
  font-size: 17px;
  color: white;
  text-indent: 2px;
  border-radius: 1px;
  border: none;
}

.google-login-icon, .facebook-login-icon {
  border: px solid blue !important;
   background: #ffff;
   height: 30px;
   padding: 4px;
   margin-right : 20%;
   border-radius: 3px;
}


 
.create-account,.login-link {
  border: px solid red;
  color: white;
  float: right;
  margin-right: 14px;
  margin-top: 4px;
 }



.or-option {
  padding-left: 44%;
  margin: 0px 5%;
  

}

.sign-or-login {
   border: 1px solid #D2D2D2;
   margin: 0px 4%;
   padding: 10px;
    
}

.registration-link-box {
  display: flex;
  border: px solid red;
  margin: 0;
}


.registration-link-box a {
   border: px solid red;
   background:#edf0f3;
   color: #5384e5;
   font-size: 12px;
}


.login-user-link {
  border: px solid blue;
  margin: 0 0 0 2%;
 }

.create-account-link {
  border: px solid blue;
  margin: 0 0 0 50%;
 }

.terms-and-policy-box {
  margin: 10px 0px 0px;
  border: px solid red;

}


.terms-and-policy {
   font-size: 14px; 
}


.email-confirmation-page {
   border: px solid red;
   min-height: 140px;
   padding: 8px 0px;

}

.confirmation-page-box {
  border:1px solid #BDBDBD;
  margin: 57px 4%;
  padding:  10px;
}

}

