
.navbar-title-box {
    color: #ffff;
}

.social-login-container {
     border: px solid red;
 }


.submit-btn-box {
    width   : 100%;
    padding : 0 5px; 
}

.registration-spin-loader-box {
    border          : px solid black;
    justify-content : center;
    display         : flex;
    padding         : 10px 0;
    
}

.auth-input-field {
    margin : 4px;
}

.auth-input-field input {
    border    : 1px solid #D2D2D2;
    font-size : 15px;
}


.authenticated-box {
   border : 1px solid #D2D2D2;
   margin: 40px 10px;
}

.authenticated-contents {
  border     : px solid red;
  min-height : 100px; 

}

.navbar-title-box,
.authenticated-title,
.authenticated-redirect-link-box {
   width      : 100%;
   text-align : center;
   
}


.authenticated-title {
    font-size: 14px;
}

.authenticated-redirect-link{
     border      : px solid red;
     width       : 30%;
     font-size   : 14px; 
     margin      : 10px 0; 
     background  :  #A33F0B;
     color       : white;
     font-weight : bold;
}



.resend-email-box {
    border : px solid red;
    display: flex;
    margin:  12px 8px; 
}

.resend-email-text {
    font-size: 13px;
    padding: 7px 0 0;
}

.resend-email-btn {
    color : #5384e5;
    font-size: 15px;

}



.success-resend-message {
    color: green;
    font-size: 12px;
    text-align: center;
    margin : 0 10px 8px;
}