
@media (max-width : 980px) {


.navigation-bar {
  border-bottom: px solid red;
  display: flex;
  width: 100%;
  background:#A33F0B;
}


.navbar-title-box {
    margin: 6px  
 }

.navbar-title-box  {
    color: #ffff;
    font-size: 17px;
   
}


.navbar-box {
    margin  : 5px;
    display : flex;
    width   : 100%;
    border  :  px solid red;
    
}


.login-page{
  width: 100%; 
  min-height: 500px;
  background:#edf0f3;
  
}

 

.registration-container {
  width      : 100%;
  height     : 100vh;
  background : #edf0f3;
  padding    : 15% 0px;
  margin-top : 15px; 
 
}

.email-form-box {
   margin-top: 10%;
}

.password-change-success,
.email-form,
.success-message-box,
.confirmation-message-box,
.password-change-form,
.sign-up-form,.login-form {
  border:1px solid #BDBDBD;
  padding: 10px 4%;
  margin: 10px 4% 7%;
  
}

.password-change-success-box a,
.confirmation-message-box a {
  border:1px solid #BDBDBD; 
  margin: 0 30%;
  width: 30%; 
  color: #ffff;
  text-align: center;
  border: none;
  background: #A33F0B;
} 



.create-account-link-box li {
    border : px solid red;
    color: black;

 }

.create-account-link-box,
.signup-login-link-box,
.password-change-link-box {
   border     : px solid red;   
   text-align : right;
   margin-top : 22px;
   font-size  : 12px;
}

.create-account-link-box a,
.signup-login-link, 
.password-change-link {
    border    : px solid red;
    color     : #5384e5;

}


.submit-btn-box {
    width      : 100%;
    text-align : center;
    font-size  : 17px;
}


.name-field-box2 {
  margin-left: 1%;
}
.name-field-box1 {
    margin-right: 1%
}

.username-fields {
  border: px solid red;
  width: 100%;
  display:  flex;
    
}


.change-password-box {
  border: x solid blue;
  margin: 8px;
    
}


.confirmation-error-box,
.confirmation-title-box,
.confirmation-success-box,
.confirmation-login-btn-box,
.resend-confirmation-btn-box {
  border: px solid blue;
  text-align : center;;

}

.resend-confirmation-btn {
  color      : #fff;
  background : #A33F0B;
  border     : px solid blue;

}

.email-fields, .password-fields {
  margin: 10px 0px;
  
}

.confirmation-login-link,
.registration-submit-btn, 
.resend-confirmation-btn {
    color      : #ffff;
    background : #A33F0B; 
    width      : 60%; 
    font-size  : 14px;
}


.form-title-box {
    font-weight: bold;
    font-size: 11px;
    border: px solid red;
    text-align: center;
    margin : 16px 0 8px;
        
}


.email-form-description,.password-form-description {
  font-size: 13px;
  
}


.message-success {
  background: #edf0f3;
  margin: 10px;
  font-size: 14px;
} 

.form-errors {
  color     : red;
  font-size : 13px;
  margin    : 0 5%; 
  list-style-type : none;  
 
}



.welcome-message{
   border    : px solid red;
   font-size : 18px;
   color: #545353;
}

.registration-welcome-box, .social-login {

   
}

.registration-welcome-box {
   margin: 20px 4%;
  
}

.social-login {
   margin: 0 4%;
   border: px solid blue
  
}

.facebook-login-box {
  width: 100%;
}

.google-login-box {
  background   : #edf0f3 !important;
  width        : 100%;
  margin       : 14px 0;

  } 


.google-login, .facebook-login {
  text-align: left !important;
  height:  40px;
  width: 100%;
  font-size: 17px;
  color: white;
  text-indent: 2px;
  border-radius: 1px;
  border: none;
}

.google-login-icon, .facebook-login-icon {
  border: px solid blue !important;
   background: #ffff;
   height: 30px;
   padding: 4px;
   margin-right : 20%;
   border-radius: 3px;
}

.or-option {
  padding-left: 44%;
  margin: 0px 5%;
  

}

.sign-or-login {
   border: 1px solid #D2D2D2;
   margin: 0px 4%;
   padding: 10px;
    
}

.registration-link-box {
  display: flex;
  border: px solid red;
  margin: 0;
}


.registration-link-box a {
   border: px solid red;
   background:#edf0f3;
   color: #5384e5;
   font-size: 12px;
}


.login-user-link {
  border: px solid blue;
  margin: 0 0 0 2%;
 }

.create-account-link {
  border: px solid blue;
  margin: 0 0 0 50%;
 }

.terms-and-policy-box {
  margin: 10px;
  border: px solid red;

}


.terms-and-policy {
   font-size: 14px; 
}


.welcome-message  a,
.terms-and-policy  a {
  color: blue;
}

.email-confirmation-page {
   border: px solid red;
   min-height: 140px;
   padding: 8px 0px;

}

.confirmation-page-box {
  border:1px solid #BDBDBD;
  margin: 57px 4%;
  padding:  10px;
}


}

