
@media (max-width: 500px) {
  body {
       background: #ffff;
       overflow-x: hidden !important;
       overflow-y: scroll !important;
       flex-direction: column;
       position: relative;
       min-height: 100vh;
       width:    100%;
       padding:  0px;


    
 }


.spin-loader-box {
   padding  : 12px 40%;
   margin   : 10px 0; 
}

.page-spin-loader-box{
  margin: 50% 40%;
  
}


.post-box-container{
   border-top   : 9px solid  #D5D7D5;

}

#question-page {  
  background: white;
  padding-top: 80px !important;
  border: 1px solid blue;
  
}

#post-list-page,#home-page-contents{
  border: px solid black;
  margin-top: 116px;

}

.index-posts-box, .index-questions-box,.index-answers-box  {
    border      : 1px solid #D5D7D5;
    margin  : 9px 0px;
    padding : 0px 0px 4px; 
}




.index-questions-box {
   border      : px solid black;
   
}

 
.index-answers-box {
   border      : px solid blue;
}

.index-posts-box {
   border      : px solid red;
 }


.post-contents,.question-contents {
   background : white;

}

.index-items-label {
     border      : 1px solid #D5D7D5;
     font-size   : 14px; 
     margin-bottom: 9px;
     padding: 4px 9px 0px;
     color: #A33F0B;

}


  
.question-box {
  border-bottom : 8px solid  #D5D7D5;
         
} 
 
.question-home-box {
   border-top    : 10px solid  #D5D7D5;
}



.post-box {
        
} 

.post-body{
   padding: 0 0 0 10px;
   
}

 .post ,.question {
   font-size: 14px;
   padding: 0 0 0 10px;
   font-weight:bold;
   color: black;
}

.question-home  {
   padding: 13px 14px 0  
}

.question-link {
   color: black;

}

.question-link:active, .question-link:focus {
   color: black;
   background: #EBEBEB;
   
}


.answer-container {
  border: px solid red;
  position: relative;
  overflow: hidden;

}




.user-box {
   border  : px solid blue;
   margin:  0 5px;    
}

.user-items {
   display         : flex;
   padding         : 0;
   list-style-type : none;
   margin          : 0;
}

.answers-user-img {
   border-radius: 50%;
   width: 40px;
   height: 40px; 
}

.profile-user-name {
  border: px solid red !important;
  font-family: 'Mukta';
  font-size: 10px;
  font-weight: bold;
  color: #525151;
  margin: 0 !important;
  line-height: 0.90 !important;
    
}


.user-name-link {
  border: px solid black;
  margin: 0 0 0 7px;
     
}


.answer-box {
  border-bottom: px solid #D5D7D5;
 }




.comment-box {
   border : px solid  blue; /*#D5D7D5;*/
  
}



.comment-contents, .comments-link {
  background       : #F7F7F7;
  border-bottom    : 1px solid  #E8E8E8;
  border-top-width : small;
  padding          : 14px 0;
     
      

}

.comment {
  border: px solid #F7F7F7;
  padding: 0 10px;


}

.answer-contents {
   border-top: px solid  #D5D7D5;
   padding-top: 4px;
}


.items-count {
   list-style-type : none; 
   padding-left    :10px ;
   margin-top      :7px ;
   font-size       :13px; 
} 
 


.answer {
   font-size: 14px;
   margin: 0 14px;
}

.answer p {
  display : block;
  width:auto;

}
 
.reply-box {
  border: px solid red;

  
}


.reply  {
   margin:0px 0px 0px 10px;
   width:auto;
   font-size: 13px;
   border: px solid blue;
   line-height: 1.2;
  
}

  

.reply-contents {
  border: px solid black !important; 
  background:  #f7f7f7;
}

.comment p {
  margin:0px 28px 0px 10px;
  line-height: 1.2;
  width:auto;
  font-size: 12px;
  border: px solid blue;
}




.contents-nav-box,.answer-nav-box {
     border-top: px solid #D5D7D5;
     border-bottom:  px solid #D5D7D5;
     display:flex;
     margin-top: 4px;
     width:100%;
}



.items-count a {
   font-family      : 'Mukta';
   color            : grey;  
   font-size    :11px; 
}


.btn-box1,.btn-box2 {
  margin:  0 10px 0  0;
}

.btn-box2 {
  margin-left: 14%;
}

.btn-box3 {
 margin-left: 22%; 
}


.create-reply,.upvote-comment {

  background  :   #F5F5F5;
  font-weight :   bold;
  font-size   :   12px !important;
  border      :   px solid red !important;
  color       :   #4A4A4A;
}

.follow-question, .create-comment,
    .upvote-answer, .create-answer {

  background-color : white;
  font-weight      : bold;
  font-family      : 'Mukta';
  color            : grey;  
  font-size        : 13px !important;
  max-width        : 100% !important;
  display          : flex;
  margin-top       : 3px; 
}

.follow-question {
  
}

.create-answer span,.follow-question span {
  border      : px solid red;
  line-height : 1;
  margin      : 2px 3px 0; 
  
}

.upvote-answer span {
   border  : px solid red;
   left    : 40px;
   margin  : 2px  0 0 6px;
}


}





