@media (min-width: 900px) {
     
    .modal-navbar-top{
        background : #A33F0B;
        display:  flex;
        border    : px solid black;

    }

    .modal-custom-back-btn{
        background : #A33F0B !important;
        color      : #ffff !important;
        border     : px solid blue;
        height     : 50px; 
    }

    .modal-title-box {
        width   : 100%;
        padding : 5px 14px; 
        border  : px solid blue;
                   
    }
    
    .modal-close-btn-box {
        padding : 0 14px 0px 5px; 
        border  : px solid red;
    }


    .modal-close-icon {
       color      : #ffff !important;
       font-size  : 30px;
       border     : px solid black;
    }   
    
   

    .modal-title {
        border      : px solid black;
        font-size   : 15px;
        color       : #fff;
        padding-top : 10px;
        display     :  flex;
        font-weight : bolder;
    }

    .editor-navbar-bottom {
        border-top  : 1px solid rgba(0, 0, 0, 0.3);
        display     : flex;
        padding     : 10px; 
    }

    .editor-submit-btn {
        background    : #A33F0B;
        color         : #fff;
        border-radius : 5px;
        font-size     : 14px;
        border        : none;
        width         : 70px;
        height        : 30px;
        font-family   : 'Squada one';
        margin        : 10px 0 0 51%; 
    }

    .editor-submit-btn-box {
        width   : 30%;  

    }

    .modal-user-box {
        display : flex;
        padding : 10px 20px;
    }

    .editor-img-box {
        border        : 1px solid #D5D7D5;
        border-radius : 50%;
        width         : 40px;
        height        : 40px;   
    }

    .editor-username-box {
       list-style-type : none;
       margin          : 0;
       padding         : 0;
      

    }

    .editor-username {
        font-weight : bold;

    }

    #modal-editor {
        background : #fff; 
        height     : 100%;
    } 

    .editors-page {
        background-color : #F6F6F6;
        max-height       : 100%;
        margin           : 10px;
    }

 
    .editors-box  {
        background-color : #fffef7;
        padding          : 12px;
        max-height       : 100%;
        overflow-y       : auto;
        min-height       : 180px;
        font-size        : 18px;
        font-family      : 'calibri', sans-serif;
        
    }
 
    .navigation-toolbar button {
      overflow      : hidden;
      position      : relative;
      display       : block;
      background    : #fefefe; 
      width         : auto;
      height        : 84%;
      text-align    : center;
      color         : #6A6767;
      margin        : 4px 6px 0;
      border        : px solid red;
    }

    .navigation-toolbar span {
        border    : px solid red;
        font-size :  19px;
        margin-top: 3px;

    }


   
#fileContainer {
   overflow      : hidden;
   position      : relative;
   display       : block;
   background    : white; 
   width         : auto;
   height        : 80%;
   text-align    : center;
   color         : #6A6767;
   border        : px solid black;
   margin        : 4px 6px 0;
}




#fileContainer [type=file] {
   cursor     : inherit;
   display    : block;
   font-size  : 999px;
   filter     : alpha(opacity=0);
   min-height : 100%;
   min-width  : 100%;
   opacity    : 0 ;
   position   : absolute;
   right      : 0;
   text-align : center;
   top        : 0;
   background: #D5D7D5;
    
    
}

#fileContainer [type=file] {
    cursor: pointer;

}


.options {
  margin-bottom: 20px;
}



#editor-nav-bar{
   background : #A33F0B !important;
   width      : 100%;
   margin : 0;


}


.editor-navbar {
  background : #A33F0B !important;
  display: flex; 
  
}


.hyperlink-box {
   display : flex;
   margin  : 10px; 
}

.add-link {
   border: 1px solid #D5D7D5;
   margin: 0px 3% 0px;
   display: block;
   background:white; 
   font-size: 10px;
   font-weight: bold;
   font-family: 'Overpass';
   text-align: center;
   line-height: 2;
   color: #6A6767;
   

}
.hyperlink-input  {
   border: 1PX solid #D5D7D5;
   width: 100%;
   padding: 4PX;
    

}
.hyperlink-input:focus {
    border: 1PX solid #D5D7D5;
   outline: 0px solid transparent;
}

.toolbar-box {
    width: 70%;
}

#toolbar {
  background  :  #fefefe;
  border      : px solid black;

  
}


.image{
   border: px solid blue;
}

.navigation-toolbar{
   display : flex;
   width   : 100%;
     
}

.media-btns, .text-btns{
  display         : flex;  
  list-style-type : none; 
  padding         : 0;
  margin          : 0;
  font-size       : 13px; 
  border          : px solid black;
}

.media-btns {
    padding-left  : 20px;
    width         : 50%;
}

.text-btns{
   padding-left : 10px;
   width        : 30%;
}

.post-title-input{
   width: 100%;
   height: 40px;
   padding: 10px;
   font-size: 14px;
   border  :  1px solid #D5D7D5;
}

.post-title-input:focus, .post-title-input:active {
  border           : 1px solid #D5D7D5;
  outline          : 0;
  background-color : #fffef7; 
} 

.post-title-form{
   border: px solid blue;
}

.post-title-form-box{
    border : px solid black;
}

.textarea-form {
    border: 1px solid blue;
    width: 100%;
    padding: 10px;
}

.textarea-box {
    border-bottom :  2px solid #888888;
    overflow-y    : auto;
}

.post-textarea-box {

}

.textarea-form-field {
  width       : 100%;
  border      : none !important;
  margin      : 4px 0 0 !important;
  font-weight : bold;
  font-size   : 14px;
  overflow-y  : auto !important;  
}

textarea:active, textarea:focus{
  outline    : 0;
  box-shadow : none;
  border     : 1px solid #D5D7D5;


}
}



/*
div.DraftEditor-root {
    border: 1px solid #000;
    background-color: beige;
    overflow-y: auto;
    height: 100px;
}

div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
    height: 100%;
}
*/



@media (max-width: 900px) {


    .editors-page {
        background-color: #F6F6F6;
        max-height    : 100%; 
        padding-top   : 78px;
        overflow-y    : auto;
        font-size     : 18px;
        height        : 200px;
        font-family   : 'calibri', sans-serif;
        border        : 1px solid red;
   
    }

 
    .editors-box  {
        background-color : #fffef7;
        padding          : 12px;
        max-height       : 100%;
        overflow-y       : auto;  
        border           : 1px solid blue;
    }

    .active {
        border : 1px solid  #D5D7D5  !important;
        color : #A33F0B !important; 
    }
  

    .navigation-toolbar button {
        overflow      : hidden;
        position      : relative;
        display       : block;
        background    : #fefefe; 
        width         : auto;
        height        : 84%;
        text-align    : center;
        color         : #6A6767;
        margin        : 4px 6px 0;
        border        : px solid red;
    }

    .navigation-toolbar span {
       border    : px solid red;
       font-size :  19px;
       margin-top: 3px;

    }


   
    #fileContainer {
        overflow      : hidden;
        position      : relative;
        display       : block;
        background    : white; 
        width         : auto;
        height        : 80%; 
        text-align    : center;
        color         : #6A6767;
        border        : px solid black;
        margin        : 4px 6px 0;
    }




    #fileContainer [type=file] {
        cursor     : inherit;
        display    : block;
        font-size  : 999px;
        filter     : alpha(opacity=0);
        min-height : 100%;
        min-width  : 100%;
        opacity    : 0 ;
        position   : absolute;
        right      : 0;
        text-align : center;
        top        : 0;
        background: #D5D7D5;
    }

    #fileContainer [type=file] {
        cursor: pointer;

    }



    .options {
        margin-bottom: 20px;
    }



    #modal-navbar-container{
        background : #A33F0B !important;
        width      : 100%;
        margin : 0;

    }

.modal-custom-back-btn{
   background : #A33F0B !important;
   color: #ffff !important;
}

.modal-close-icon{
   color: #ffff !important;
   font-size: 17px;
}

.modal-navbar-box {
  background : #A33F0B !important;
  display: flex; 
  
}


    .modal-title-box {
        width   : 100%;
                          
    }
    
    .modal-title {
        border      : 1px solid black;
        font-size   : 11px;
        color       : #fff;
        display     :  flex;
        font-weight : bolder;
        margin      : 10px 0 0; 
    }


.editor-submit-btn {
   border        : 1px solid #ffff;
   border-radius : 1px solid #A33F0B;
   background    : #ffff;
   color         : #A33F0B !important;
   font-size     : 11px;  
   font-family   : 'Play'; 
   font-weight   : bold; 
   width: 
}


.hyperlink-box {
   display : flex;
   margin  : 10px; 
}

.add-link {
   border: 1px solid #D5D7D5;
   margin: 0px 3% 0px;
   display: block;
   background:white; 
   font-size: 10px;
   font-weight: bold;
   font-family: 'Overpass';
   text-align: center;
   line-height: 2;
   color: #6A6767;
   

}
.hyperlink-input  {
   border: 1PX solid #D5D7D5;
   width: 100%;
   padding: 4PX;
    

}
.hyperlink-input:focus {
    border: 1PX solid #D5D7D5;
   outline: 0px solid transparent;
}


#toolbar {
  background  :  #fefefe;
  
}


.image{
   border: px solid blue;
}

.navigation-toolbar{
   display : flex;
   width   : 100%;
   
}

.media-btns, .text-btns{
  display         : flex;  
  list-style-type : none; 
  padding         : 0;
  margin          : 0;
  font-size       : 13px; 
  width           : 100%;
  border          : px solid black;
}

.media-btns {
   border : px solid black;
   padding-left: 30px;
}

.text-btns{
   padding-left: 10px;
}

.post-title-input{
   width: 100%;
   height: 40px;
   padding: 10px;
   font-size: 14px;
   border  :  1px solid #D5D7D5;
}

.post-title-input:focus, .post-title-input:active {
  border           : 1px solid #D5D7D5;
  outline          : 0;
  background-color : #fffef7; 
} 

.post-title-form{
   border: px solid blue;
}

.post-title-form-box{
    border : px solid black;
}

.textarea-form {
    border: 1px solid blue;
    margin-top: 50px;
    width: 100%;
    padding: 10px;
}

.textarea-box {
  border-bottom:  2px solid #888888;
}

.create-question-form {
  width       : 100%;
  border      : none !important;
  margin      : 4px 0 0 !important;
  font-weight : bold;
  font-size   : 14px;
  

}

textarea:active, textarea:focus{
  outline    : 0;
  box-shadow : none;
  border     : 1px solid #D5D7D5;


}
}


