


@media (max-width: 900px) {

   
         
   
.editors-page {
    background-color: #F6F6F6;
    width         : 100%;
    max-height    : 100%;
    min-height    : 90%; 
    padding-top   : 78px;
    overflow-y    : scroll;
    font-size     : 18px;
    font-family   : 'calibri', sans-serif;
    border        : px solid red;
   
}

 
.editors-box  {
    background-color : #fffef7;
    padding          : 12px;
    max-height       : 100%;
    height           : 90px;   
    border           : px solid blue;
}

.active {
    border : 1px solid  #D5D7D5  !important;
    color : #A33F0B !important; 
 }
  

   .navigation-toolbar button {
      overflow      : hidden;
      position      : relative;
      display       : block;
      background    : #fefefe; 
      width         : auto;
      height        : 84%;
      text-align    : center;
      color         : #6A6767;
      margin        : 4px 6px 0;
      border        : px solid red;
   }

   .navigation-toolbar span {
      border    : px solid red;
      font-size :  19px;
      margin-top: 3px;

   }


   
#fileContainer {
   overflow      : hidden;
   position      : relative;
   display       : block;
   background    : white; 
   width         : auto;
   height        : 80%;
   text-align    : center;
   color         : #6A6767;
   border        : px solid black;
   margin        : 4px 6px 0;
}




#fileContainer [type=file] {
   cursor     : inherit;
   display    : block;
   font-size  : 999px;
   filter     : alpha(opacity=0);
   min-height : 100%;
   min-width  : 100%;
   opacity    : 0 ;
   position   : absolute;
   right      : 0;
   text-align : center;
   top        : 0;
   background: #D5D7D5;
    
    
}

#fileContainer [type=file] {
    cursor: pointer;

}



.options {
  margin-bottom: 20px;
}



#editor-nav-bar{
   background : #A33F0B !important;
   width      : 100%;
   margin : 0;


}

.editor-custom-back-btn{
   background : #A33F0B !important;
   color: #ffff !important;
}

.editor-arrow{
   color: #ffff !important;
   font-size: 17px;
}

.editor-navbar {
  background : #A33F0B !important;
  display: flex; 
  
}

.editor-submit-btn {
   border        : 1px solid #ffff;
   border-radius : 1px solid #A33F0B;
   background    : #ffff;
   color         : #A33F0B !important;
   font-size     : 11px;  
   font-family   : 'Play'; 
   font-weight   : bold; 
   width: 
}


.hyperlink-box {
   display : flex;
   margin  : 10px; 
}

.add-link {
   border: 1px solid #D5D7D5;
   margin: 0px 3% 0px;
   display: block;
   background:white; 
   font-size: 10px;
   font-weight: bold;
   font-family: 'Overpass';
   text-align: center;
   line-height: 2;
   color: #6A6767;
   

}
.hyperlink-input  {
   border: 1PX solid #D5D7D5;
   width: 100%;
   padding: 4PX;
    

}
.hyperlink-input:focus {
    border: 1PX solid #D5D7D5;
   outline: 0px solid transparent;
}


#toolbar {
  background  :  #fefefe;
  
}


.image{
   border: px solid blue;
}

.navigation-toolbar{
   display : flex;
   width   : 100%;
   
}

.media-btns, .text-btns{
  display         : flex;  
  list-style-type : none; 
  padding         : 0;
  margin          : 0;
  font-size       : 13px; 
  width           : 100%;
  border          : px solid black;
}

.media-btns {
   border : px solid black;
   padding-left: 30px;
}

.text-btns{
   padding-left: 10px;
}

.post-title-input{
   width: 100%;
   height: 40px;
   padding: 10px;
   font-size: 14px;
   border  :  1px solid #D5D7D5;
}

.post-title-input:focus, .post-title-input:active {
  border           : 1px solid #D5D7D5;
  outline          : 0;
  background-color : #fffef7; 
} 

.post-title-form{
   border: px solid blue;
}

.post-title-form-box{
    border : px solid black;
}

.textarea-form {
    border: 1px solid blue;
    margin-top: 50px;
    width: 100%;
    padding: 10px;
}

.textarea-box {
  border-bottom:  2px solid #888888;
}

.create-question-form {
  width       : 100%;
  border      : none !important;
  margin      : 4px 0 0 !important;
  font-weight : bold;
  font-size   : 14px;
  

}

textarea:active, textarea:focus{
  outline    : 0;
  box-shadow : none;
  border     : 1px solid #D5D7D5;


}
}


