

@media (max-width: 980px) {
	
	.about-page {
    	border: px solid blue;
      	padding-top: 40px;
	}

	.about-container {
		border: px solid red;
		padding: 0 15px;
	}

	.about-info-box {
		font-size: 16px;
	
	}
}



@media (min-width: 980px) {
	
	.about-page {
    	padding-top : 40px;
      	width       : 50%;
        margin      : 0 25% 90px;  
	}

	.about-info-box {
		font-size: 16px;
	
	}

	.about-container {

	}

}

.about-info-title-box {
	width           : 100%;
	justify-content : center;
	display         : flex;

}

.about-info-title {
	font-size   : 25px;
	font-weight : bold;
	font-family : 'Ubuntu';
}

