
.answer-question-box {
    padding    : 0px 10px;
}
 
@media (min-width:980px) {

    #page-error-box,     
    #home-page-contents, .question-page, .post-page,
    .question-list-page, .post-list-page {
        width      : 42%;
        margin     : 30px 29%; 

    }

    
    #home-page-contents {
        border     : px solid  red;
    }

    .question-list-page, .post-list-page ,
    .question-page, .post-page {
        background : #ffff; 
        border     : px solid  #D5D7D5;  
    }

    
    .post-box, .question-box, .answer-box, .comment-box, .reply-box {
        border-bottom : 0.5px solid #E8E8E8;
        padding    : 0px 10px;
    } 
  
     

    .post ,.question {
        border      : px solid black;
        font-size   : 17px;
        font-family : 'Ropa Sans';
        font-weight : bold;
    }

    .post-title,  .comment-box {
        border-bottom : px solid blue; 
    }

    .main-post  {
        border:px solid red;
        width: 100%;
        font-size: 17px;
    }

    .main-post img {
        border: px solid blue;
        max-width: 100%;
        height: auto;
        width: 500px;
        object-fit: cover;
    }

    .main-post p:nth-child(2) {
        border: px solid black;
        height: auto; ;
        margin-left: 0px;
    }

    .main-post p:nth-child(3) {
        border: 1px solid red;
        display: none; 
    }

    .index-questions, .index-answers, .index-posts {
        border     : 1px solid #D5D7D5;
        background : #ffff;
        margin     : 10px 0;
    }

    .index-items-label {
        border-bottom  :  1px solid #D5D7D5;
        padding        :  14px 15px 0px; 
        color          :  #A33F0B;
        font-family    : 'Cabin'; 
    }

    .answer-container, .question-container, .post-container {
        border     : px solid red;/*#D5D7D5;*/
        background : #ffff;
    }

    .answer-list-container {
        border : px solid blue;
    }

    .reply-container,.comment-container {
        background    : #f9f9f9;
        border-bottom : 1px solid  #D5D7D5;
    }

    .reply-container {
   
    }

    .create-answer {
        box-shadow: none;
        background-color: white;
    }     

    .autor-details-box {
        margin  : 0 6px;
        border  : px solid green;
        display : flex;
    }



.answer-box {
  border-bottom:1px solid #D5D7D5;
  /*background-color:#f0eeed;*/
}

.comment-box {
   border  : px solid black; /*#D5D7D5;*/
   padding : 0px 10px;
}

.answer-contents, .post-contents,.question-contents {
    border-top : px solid #D5D7D5;
    
}


.number-answers-box {
   border-bottom :  1px solid #D5D7D5;
   padding: 0 12px;
} 

.number-of-answers {
    padding-left:6px ;
    margin-top:7px;
    
} 

.comment-contents {
      border-bottom : px solid  #D5D7D5;
      background    : #f9f9f9;
      border        : px solid red;
     
}

.comments-link:hover {
    cursor:pointer;
}

.answer {
    border      : px solid black;
    margin-left : 8px; 
    font-size   : 15px;
}


.answer-dropdown {
  padding-right: 34px; 
}
.reply, .comment {
    border:px solid red; 
    font-size: 13px;
    margin-left : 8px; 
    width: auto;
}

    

.reply-contents {
      border:px solid green;
      background:     #f9f9f9;
      
}

  .child-reply p {
    border: px solid blue;
    margin:  0px 14px 0px 70px;
    line-height: 1.2;
    font-size: 13px;
  }
.child-user-box {
  padding: 0px 70px;
  border: px solid red;
}
.reply-user-box {
   padding: 0px 40px;
}
.reply-dropdown {
  border: px solid blue;
  padding-right: 34px;
   
}

.comment p {
  margin:0px 14px 0px 18px;
  line-height: 1.2;
  width:auto;
  font-size: 13px;
}

.question-followers-box {
     
}


.question-relation {
  border:2px solid #D5D7D5;
}
.answer-relation {
    border-bottom:px solid #D5D7D5;

}
.post-relation {
    border-bottom:4px solid #D5D7D5;

  }

.comment-relation {
    /*border: 1px solid #D5D7D5;*/
    padding-left: px;
}

.reply-relation {
 /* border: 1px solid #D5D7D5;*/
 
}

.following,.question-followers {
      border:px solid black;  
      font-size: 12px;
      color: black;
      list-style-type: none;
      /*margin-left: 30px;*/

}
.following {
  margin-left: 20px;
}

.question-followers a {
      font-size: 10px;
      color: black;

}


.answer-dropdown-btn,.answer-btn,
.question-btn,.question-dropdown-btn {
  background-color: white;
  font-family: 'Nunito';
  font-size:7px;
  font-weight: 578;

}


.edit-reply-btn,.upvote-comment,
.edit-answer-btn, .follow-question-btn,
.upvote-answer, .edit-comment-btn {
      /*#fefbfa;*/
    font-family: 'Ubuntu';
    font-size:13px;
    color: #807f7f; /* #979797;*/
  }



.comment-counter,.reply-counter  {
     margin-left: 20px;
     color:  #5384e5 ;
     padding:0px;

}


.img-container {
    border: 1px solid #D5D7D5;/*#F9F7F7;*/
    position: relative;
    border-radius: 50px;
    width: 100px;
    height:100px;
    margin: 20px 15px 10px 20px;
   
    
}

.img-container-sm {
    border: 1px solid #D5D7D5;/*#F9F7F7;*/
    border-radius: 50px;
    width: 30px;
    height:30px;
    
}

.profile-photo {
    /*border: 1px solid black; /*#F9F7F7;*/
    border-radius: 100%;
    width: 100%;
    height:100%;
    object-fit: cover;
    
}

.profile-user-name {
  position: relative;
  display:inline-block;
  margin-left: 10px;
  font-size: 13px;
  color: black;
  font-weight: 600;
  font-family: 'Kanit';
}

}
























