
@media (max-width: 900px) {
   
    .partial-page-loader {
        margin-top: 80px;
        border: px solid black;
    }

    .post-box-container{
        border-top   : 9px solid  #D5D7D5;
    }
    
    
    .app-question-box, .app-post-box. .app-profile-box {
        margin-top : 50px;
        border: 1px solid blue;
    }
    
    .app-index-box {
        padding-top : 40px; 
    }

    #question-page,
    #post-page, 
    #post-list-page,
    #question-list-page,
    #answer-page {
        background : #fff;
        margin-top : 70px; 
    }

    #home-page-contents{
        border: px solid black;
    }

    .index-posts-box, .index-questions-box,.index-answers-box  {
        border  : 1px solid #D5D7D5;
        margin  : 9px 0px;
        padding : 0px 0px 4px; 
        background:  #ffff;
    }

    .post-contents,.question-contents {
        background : white;
    }

    .index-items-label {
        border-bottom : 1px solid #D5D7D5;
        font-size     : 14px; 
        padding       : 4px 17px 0px;
        color         : #A33F0B;
        font-weight   : bold;
    }

    .post-box, .question-box, .answer-box, .comment-box, .reply-box {
        padding  : 0 10px;
        border   : px solid green;
    } 
  
    .empty-question-list-box,
    .empty-post-list-box {
        border : px solid  red; 
        justify-content: center;
        display : flex;
        font-size: 14px; 
    }

    .post-list-create-box,
    .question-list-create-box  {
        border    : px solid  red; 
        justify-content: center;
        display : flex;
        margin  : 10px 0;
    }

    .post-list-create-box button,
    .question-list-create-box button  {
        border     : px solid  red; 
        width      : 40%;
        background : #A33F0B;
        color      : #fff; 
        font-size  : 14px; 

    }


    .question-box, .post-box, {
        border-bottom : 8px solid  #D5D7D5;
    }

    .question-home-box {
        border-top    : 10px solid  #D5D7D5;
    }

    .autor-details-box {
        border  : px solid green;
        display : flex;
        margin  : 0 6px ; 
    }

    .post-box {
    } 
    .post-title, .question {
        font-size   : 15px;
        font-weight : bold;
        color       : black;
        margin      : 4px 0;
    }

    .question-home  {
        padding: 13px 14px 0  
    }

    .question-link {
        color : black;

}

.question-link:active, .question-link:focus {
   color      : black;
   background : #EBEBEB;
}


.answer-container {
  border: px solid red;
  position: relative;
  overflow: hidden;

}


.comment-box {
   border : px solid  blue; /*#D5D7D5;*/
  
}


.comment-contents, .comments-link {
  background       : #F7F7F7;
  border-bottom    : 1px solid  #E8E8E8;
  border-top-width : small;
  padding          : 14px 0;
     
      

}

.answer-contents {
   border-top: px solid  #D5D7D5;
   padding-top: 4px;
}


.number-answers-box {
   border-bottom :  1px solid #D5D7D5;
} 

.number-of-answers {
    margin : 7px 20px 0;
    border: px solid blue;

} 


.answer, .post-body {
   font-size : 13px;
   margin    : 0 10px;
}

 
.reply-box {
  border: px solid red;
  
}


.reply, .comment  {
    font-size : 12px;
    border    : px solid blue;
    margin    : 0 10px;
 
}

  

.reply-contents {
  border: px solid black; 
  background:  #f7f7f7;
}


.edit-reply-btn,.upvote-comment {
   background  :  #f7f7f7;
   font-size   :   12px !important;
   color       :   #4A4A4A;
}

.edit-answer-btn, .follow-question-btn,
.upvote-answer, .edit-comment-btn {
    border           : px solid red;
    font-family      : 'Ubuntu';
    color            : grey;  
    font-size        : 13px;
    margin-top       : 3px; 
}



.create-answer span, .follow-question-btn span {
  border      : px solid red;
  line-height : 1;
  margin      : 2px 3px 0; 
  
}

.upvote-answer span {
   border  : px solid red;
   left    : 40px;
   margin  : 2px  0 0 6px;
}


}





