
@media (max-width: 900px) {
    body {
        overflow-x: hidden !important;
       overflow-y: scroll !important;
       flex-direction: column;
       position: relative;
       min-height: 100vh;
       width:    100%;
       padding:  0px;
    }



    .post-box-container{
        border-top   : 9px solid  #D5D7D5;

    }

    #question-page, #post-page {  
        background : #fff;
        border     : px solid  red;
        margin     : 29px 0;  
    }

    #post-list-page, #home-page-contents{
        border: 1px solid black;
    }

    .index-posts-box, .index-questions-box,.index-answers-box  {
        border      : 1px solid #D5D7D5;
        margin  : 9px 0px;
        padding : 0px 0px 4px; 
        background:  #ffff;
    }


    .index-questions-box {
        border      : px solid black;
   
    }

 
    .index-answers-box {
        border      : px solid blue;
    }

    .index-posts-box {
        border      : px solid red;
    }


    .post-contents,.question-contents {
        background : white;

    }

.index-items-label {
     border      : 1px solid #D5D7D5;
     font-size   : 14px; 
     margin-bottom: 9px;
     padding: 4px 9px 0px;
     color: #A33F0B;

}


.post-box, .question-box, .answer-box, .comment-box, .reply-box {
        border-bottom : 0.5px solid #E8E8E8;
        padding    : 0px 10px;
 } 
  
.question-box {
  border-bottom : 8px solid  #D5D7D5;
         
} 
 
.question-home-box {
   border-top    : 10px solid  #D5D7D5;
}

.autor-details-box {
   margin  : 0 8px;
   border  : px solid green;
   display : flex;
}


.post-box {
        
} 

.post-body{
   padding: 0 0 0 10px;
   
}

 .post ,.question {
   font-size: 14px;
   padding: 0 0 0 10px;
   font-weight:bold;
   color: black;
}

.question-home  {
   padding: 13px 14px 0  
}

.question-link {
   color : black;

}

.question-link:active, .question-link:focus {
   color      : black;
   background : #EBEBEB;
}


.answer-container {
  border: px solid red;
  position: relative;
  overflow: hidden;

}


.comment-box {
   border : px solid  blue; /*#D5D7D5;*/
  
}


.comment-contents, .comments-link {
  background       : #F7F7F7;
  border-bottom    : 1px solid  #E8E8E8;
  border-top-width : small;
  padding          : 14px 0;
     
      

}

.comment {
  border: px solid #F7F7F7;
  padding: 0 10px;


}

.answer-contents {
   border-top: px solid  #D5D7D5;
   padding-top: 4px;
}


.number-answers-box {
   border-bottom :  1px solid #D5D7D5;
} 

.number-of-answers {
    margin : 7px 20px 0;
    border: px solid blue;

} 


.answer {
   font-size: 14px;
   margin: 0 10px;
}

.answer p {
  display : block;
  width:auto;

}
 
.reply-box {
  border: px solid red;

  
}


.reply  {
   margin:0px 0px 0px 10px;
   width:auto;
   font-size: 13px;
   border: px solid blue;
   line-height: 1.2;
  
}

  

.reply-contents {
  border: px solid black !important; 
  background:  #f7f7f7;
}

.comment p {
  margin:0px 28px 0px 10px;
  line-height: 1.2;
  width:auto;
  font-size: 12px;
  border: px solid blue;
}




.contents-nav-box,.answer-nav-box {
     border-top: px solid #D5D7D5;
     border-bottom:  px solid #D5D7D5;
     display:flex;
     margin-top: 4px;
     width:100%;
}



.items-count a {
   font-family      : 'Mukta';
   color            : grey;  
   font-size    :11px; 
}


.contents-nav-container {
    border: px solid blue;
}

.contents-nav-box {
    border: px solid black;
}

.btn-box1,.btn-box2 {
      border :  px solid red;
}

.btn-box2 {
  
}

.btn-box3 {
   border  :   px solid blue;
   width: 100%;
   
}

.optionsBtn {
  border  :   px solid black;
  float   : right; 
  

}

.create-reply,.upvote-comment {

  background  :   #F5F5F5;
  font-weight :   bold;
  font-size   :   12px !important;
  color       :   #4A4A4A;
}

.follow-question, .create-comment,
    .upvote-answer, .create-answer {

  background-color : white;
  font-weight      : bold;
  font-family      : 'Mukta';
  color            : grey;  
  font-size        : 13px !important;
  max-width        : 100% !important;
  display          : flex;
  margin-top       : 3px; 
}

.edit-answer, .follow-question-btn {
  border      : px solid red
}

.create-answer span,.follow-question span {
  border      : px solid red;
  line-height : 1;
  margin      : 2px 3px 0; 
  
}

.upvote-answer span {
   border  : px solid red;
   left    : 40px;
   margin  : 2px  0 0 6px;
}


}





